.google-visualization-table-td {
    text-align: center !important;
}

.btn-group button {
    background-color: #e57905;
    /* Green background */
    border: 1px solid rgb(128, 9, 0);
    /* Green border */
    color: white;
    /* White text */
    padding: 10px 24px;
    /* Some padding */
    cursor: pointer;
    /* Pointer/hand icon */
    float: left;
    /* Float the buttons side by side */
    text-align: center;

}


.btn-group button:not(:last-child) {
    border-right: none;
    /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #c37c10;
}


.columns {
    max-width: 100%;
    margin-top: 20px;

}

body {
    background: #e4a35e;
}

h1 {
    color: white;
    background: #e57905;
    border: 1px solid rgb(128, 9, 0);
    margin: 0px;
    padding-bottom: 5px;
}


#string_filter_div {
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    width: 100%;
}

#filter_wrapper {
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    width: 100%;
}

#number_range_filter_div1 {
    text-align: center;
}

#number_range_filter_div2 {
    text-align: center;
}

#number_range_filter_div3 {
    text-align: center;
}

#table_div {
    text-align: center;
    width: 100%;
}

#dashboard {
    padding-top: 10px;
}

#tbl1 {
    width: 100%;
    height: 30%;
    margin-top: 20px;
}

/* #tbl2 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30%;
    margin-top: 100px;
}

#tbl3 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30%;
    margin-top: 100px;
} */

#box {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#row1 {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 20;
    display: flex;
    justify-content: center;
}

#row2 {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 20;
    display: flex;
    justify-content: center;
}

#row3 {
    color: white;
    display: flex;
    justify-content: center;
}

.t {
    color: white;
    font-weight: bold;
    font-size: 20;
    display: flex;
    justify-content: center;
}